<form action="/comment/{{ tutorial._id }}" method="POST">
    <h3>Place your comment here</h3>
    <input type="text" class="commentHere" name="comment">
    <button class="btn btn-warning">Comment</button>
</form>